.dashboard-wrapper {
  background-color: hsl(235, 46%, 20%);
  color: whitesmoke;
  border-radius: 10px;
}
.dashboard-profile {
  padding: 30px;
  background-color: hsl(246, 80%, 60%);
  border-radius: 10px;
}
.dashboard-profile img {
  height: 100%;
  width: 100px;
  border: 4px solid white;
  border-radius: 100%;
}
.dashboard-profile h2 {
  max-width: 50%;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 30px;
}
.dashboard-profile p {
  margin-top: 25px;
  margin-bottom: 5px;
  color: hsl(236, 100%, 87%);
}
.dashboard-time {
  display: flex;
  flex-direction: column;
  padding: 30px;
  list-style-type: none;
}
.dashboard-time li {
  width: fit-content;
  font-size: 1rem;
  font-weight: 500;
  color: hsl(235, 45%, 61%);
}
.dashboard-time li:hover {
  color: hsl(236, 100%, 87%);
  cursor: pointer;
}
.dashboard-time li:not(:first-child) {
  margin-top: 20px;
}

@media screen and (max-width: 375px) {
  .dashboard-profile,
  .dashboard-time {
    padding: 20px;
  }
  .dashboard-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .dashboard-profile h2 {
    max-width: 100%;
    margin-bottom: 0;
    font-size: 1.5rem;
  }
  .dashboard-profile p {
    margin-top: 0;
  }
  .dashboard-time {
    flex-direction: row;
    justify-content: space-between;
  }
  .dashboard-time li:not(:first-child) {
    margin-top: 0;
  }
}
